// Page transitions
.fade-enter-active, .fade-leave-active {
    transition: opacity .4s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0
}

// Keyframes
@include keyframes('slide-mask-in'){
	0%{
		transform: translateX(-100%);
		-webkit-animation-timing-function: bezier("slide-mask-in");
        animation-timing-function: bezier("slide-mask-in");
	}

	50%,60%{
		transform: translateX(0)
	}
	100%{
		transform: translateX(100%)
	}
}
@include keyframes('slide-skewed-mask-in'){
	0% {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: translateZ(0) skew(45deg) scaleX(0);
        transform: translateZ(0) skew(45deg) scaleX(0);
        -webkit-animation-timing-function: bezier("slide-mask-in");
        animation-timing-function: bezier("slide-mask-in")
    }

   

    50% {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: translateZ(0) skew(45deg) scaleX(1);
        transform: translateZ(0) skew(45deg) scaleX(1)
    }

    50.0001% {
        -webkit-transform-origin: right;
        transform-origin: right
    }

    100% {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: translateZ(0) skew(45deg) scaleX(0);
        transform: translateZ(0) skew(45deg) scaleX(0)
    }
}

@include keyframes('slide-skewed-mask-in-right'){
    0% {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: translateZ(0) skew(-45deg) scaleX(0);
        transform: translateZ(0) skew(-45deg) scaleX(0);
        -webkit-animation-timing-function: bezier("slide-mask-in");
        animation-timing-function: bezier("slide-mask-in")
    }

   

    50% {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: translateZ(0) skew(-45deg) scaleX(1);
        transform: translateZ(0) skew(-45deg) scaleX(1)
    }

    50.0001% {
        -webkit-transform-origin: left;
        transform-origin: left
    }

    100% {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: translateZ(0) skew(-45deg) scaleX(0);
        transform: translateZ(0) skew(-45deg) scaleX(0)
    }
}


@include keyframes('slide-mask-to-top'){
    0% {
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: translateZ(0) scaleY(0);
        transform: translateZ(0) scaleY(0);
        -webkit-animation-timing-function: bezier("slide-mask-in");
        animation-timing-function: bezier("slide-mask-in");
    }

   

    50% {
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: translateZ(0) scaleY(1);
        transform: translateZ(0) scaleY(1)
    }

    50.0001% {
        -webkit-transform-origin: top;
        transform-origin: top;
    }

    100% {
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-transform: translateZ(0) scaleY(0);
        transform: translateZ(0) scaleY(0)
    }
}


@include keyframes('indi-down'){
    0%{
        opacity : 0;
    }
    50%{
        opacity : 1;

    }
    100% {
        opacity : 0;
        bottom : 10px;
    }
}