.page-banner{
	width: 100%;
    overflow: hidden;
    z-index: $page-banner-index;
    position: relative;

    
}

.banner-background{
	width: 100%;
    position: relative;

    .banner-background-image
    {
    	position: absolute;
    	left: 0;
    	top:0;
    	width: 100%;
    	height: 100%;
    }
    >video{
    	position: absolute;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    left: 0;
	    top: 0;
    }
}

.banner-content{
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
}

.overlay-mask
{
    position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
	background: fade-out(theme-color("primary"), 0.8)
}