// Hamburger
.hamburger{
	display: block;
	pointer-events: all;
    position: relative;
	button{
		display: block;
	    background-color: transparent;
	    border: none;
	    width: 30px;
	    height: 26px;
	    font-size: 0;
	    padding:0;
	    outline: none;
	    cursor: pointer;
	    //padding: 24px 20px 24px 40px;
	    //margin-right: -40px;
	    //margin-top: -20px;
	    > span {
	    	    width: 30px;
			    height: 2px;
			    background-color: #fff;
			    display: block;
			    transition: all 0.3s ease;
			    position: relative;
			    & ~ span{
			    	margin-top: 10px;
			    }
	    }

	    &:hover{
	    	> span{
	    		&:nth-child(1) {
	    			transform: translateY(6px)
	    		}
	    		&:nth-child(2){
	    			width: 0;
	    			transform: translateX(30px)
	    		}
	    		&:nth-child(3) {
	    			transform: translateY(-6px)
	    		}
	    	}
	    }
	    &.active{
			> span{
				margin-top: 0;
				&:nth-child(1) {
	    			transform: rotate(50deg)
	    		}
	    		&:nth-child(2) {
	    			visibility: hidden;
       				opacity: 0;
	    		}
	    		&:nth-child(3) {
	    			transform: rotate(-50deg) translate(3px, -2px)
	    		}
			}
	    }
	}
}

// Cards
.home-text-card
{
	padding-left:55px;
	color: #fff;

	.btn{
		margin-top:20px;
		margin-left: 5px;
	}

	@include media-breakpoint-down(md)
	{
		padding-left:30px
	}
	@include media-breakpoint-down(sm)
	{
		width: 100%;
		padding-left:0;
		text-align:center;
	}
}

.logo-text
{
	.title{
		font-size: calculate-rem(155px, $font-size-html);
		font-weight: 700;
		margin-bottom: 0;
		line-height: 1;
	}
	.sub-title{
		font-size: calculate-rem(39px, $font-size-html);
		letter-spacing: 10px;
        padding-left: 12px;
	}

	@include media-breakpoint-down(md){
		.title{
			font-size: calculate-rem(80px, $font-size-html);
		}
		.sub-title{
			padding-left: 0;
			font-size: calculate-rem(20px, $font-size-html);
			letter-spacing: 6px;
		}
	}

	@include media-breakpoint-down(md){
		.title{
			font-size: calculate-rem(80px, $font-size-html);
		}
		.sub-title{
			padding-left: 0;
			font-size: calculate-rem(20px, $font-size-html);
			letter-spacing: 6px;
		}
	}

	@include media-breakpoint-down(sm){

		.title{
			font-size: calculate-rem(60px, $font-size-html-small);
		}
		.sub-title{
			padding-left: 0;
			font-size: calculate-rem(16px, $font-size-html-small);
			letter-spacing: 3px;
		}
	}
}

// Cta-linkcard

.cta-link-card
{
	position: relative;
	overflow: hidden;
	cursor: pointer;
	
	.cta-bg
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		
		transition: ease 0.3s;
		background-position: center center;
		background-size: cover;
		opacity: 0!important;
	}
	.overlay-mask
	{
		background: theme-color("primary");
		transition: ease 0.3s;
		opacity: 0.5;
		border-left: 1px solid lighten(theme-color("primary"),10%);
	    border-right: 1px solid lighten(theme-color("primary"),10%);
	}
	.cta-detail{
		&,article{
			position: relative;
		}
		display: flex;
		align-items:flex-end;
		height: 100%;
		padding: calculate-rem(50px,$font-size-html) calculate-rem(50px,$font-size-html) calculate-rem(150px,$font-size-html);
		color: #fff;

		.title{
			font-size: calculate-rem(42px,$font-size-html);
			>span{
				display: block;
			}
		}

		.btn{
			//position: absolute;
			bottom:0;
			transition: ease 0.2s;
			//opacity: 0;
			margin-top:50px;
		}
	}

	&.hover-enabled{
		.overlay-mask
		{
			border:none;
		}
		.cta-bg{
			opacity: 1!important;
		}
	}

	&.hovering.hover-enabled{
		.cta-bg
		{
			transform: scale(1.2);
			& + .overlay-mask
			{
				opacity: 0.3
			}
		}
	}

	&.card-transition
	{
		.cta-bg
		{
			opacity: 0!important;
		}
		.overlay-mask
		{
			opacity: 1!important;
		}
		.btn
		{
			opacity: 0!important;
		}
	}
	
	@at-root .touch {
		.cta-link-card
		{
			.btn{
				margin-top: 30%;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.cta-detail{
			padding-left: 20px;
			padding-right: 20px;
			.title{
				font-size: calculate-rem(30px,$font-size-html-small);
			}
		}
	}
}





// Share list

.social-share
{
 &.flex-row
 {
 	> li + li{
 		margin-left: 22px;
 	}
 }
}

// Nav list
.nav-list{
	margin:0;
}
.nav-item{
	text-align: center;
	padding: 10px 20px;
	> .nav-link{
		cursor: pointer;
		display: inline-block;
		text-align: center;	
		color : theme-color("light");
		font-size: calculate-rem(30px, $font-size-html);
		text-decoration: none;
		position: relative;
		&:after{
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			bottom:-0;
			left: 0;
			background: theme-color("light");
			transform-origin: center center;
			transform: scaleX(0);
			transition: 0.3s ease; 
		}
	}

	&:hover {
		>.nav-link {
			&:after{
				transform: scaleX(1);
			}
		}
	}
	
}