body{
	//overflow: hidden;
	margin:0;	
}

main {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    white-space: nowrap;

    
}

.vertical-scroll-container
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.horizontal-scroll-container{
	position: absolute;
	left: 0;
}

.nav-grid
{
	display: flex;
	background: #fff;
	font-size: 2vw;
	> div {
		height: 100vh;
		flex: 0 0 auto;
		width: calc(100vw / 3);
		+ div{
			border-left:4px dashed #000
		}
		display: flex;
		align-items:center;
		justify-content:center;
	}
}

.section-grid
{
	font-size: 2vw;
	background: #fff;
	> div {
		display: flex;
		align-items:center;
		justify-content:center;
		height: 100vh;
		+ div{
			border-top:4px dashed #000
		}
	}
}