// Virtual scrollsection
.vs-section
{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 1;
}

.vertical-scroll-container
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.horizontal-scroll-container{
    position: absolute;
    left: 0;
}


// Header
#main-header
{
	position: fixed;
	width: 100%;
	z-index: $header-index;
    top:0;
}

.header-container
{
	padding: 15px 55px;
    position: relative;
    z-index: $header-index + 1;
    @include media-breakpoint-down(md)
    {
        padding: 15px 30px;
    }
    @include media-breakpoint-down(sm)
    {
        padding: 10px 20px;
    }
}

// Navigation

#main-navigation
{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    z-index: $header-index - 1;
    background: #000;
}

.nav-container
{
    // position: absolute;
    // left: 0;
    // top:0;
    // width: 100%;
    // height: 100%;
}

// nav grid
.nav-hor-grid
{
    display: flex;
    > .cta-link-card{
      width: calc(100vw / 3);
      height: 100vh;
      flex:0 0 auto;
    }
     @include media-breakpoint-down(md){
        > .cta-link-card{
            width: calc(100vw / 2);
        }
     }

     @include media-breakpoint-down(sm){
        > .cta-link-card{
            width: 100vw;
        }
     }
}
// Footer
#main-footer
{
    position: fixed;
    width: 100%;
    z-index: $header-index;
    bottom:0;
}

.footer-container
{
    padding: 15px 55px;
    @include media-breakpoint-down(md)
    {
        padding: 15px 30px;
    }
    @include media-breakpoint-down(sm)
    {
        padding: 10px 20px;
    }
}